
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Fresh <em>Mart</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="products.html">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2>FRESH FRUITS</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your Quality products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <ul>
                    <li class="active" data-filter="*" (click)="filterData('All')">All Products</li>
                    <li data-filter=".des" (click)="filterData('Premium')">Premium</li>
                    <li data-filter=".dev" (click)="filterData('Tamilnadu')">Tamilnadu</li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="filters-content">
                  <div class="row grid">
                      <div *ngFor="let _product of products;" class="col-lg-4 col-md-4 all des">
                        <div class="product-item">
                            <div class="zoom">
                                <a href="#"><img src={{_product.p_image}} alt=""></a>
                            </div>
                          <div class="down-content">
                            <a href="#"><h4>{{_product.p_name}}</h4></a>
                            <h6>₹{{_product.p_cost}}</h6>
                            <p>{{_product.p_details}}_</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <input class="filled-button" type="number">
                             <a href="#" class="filled-button">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4 col-md-4 all dev">
                        <div class="product-item">
                          <a href="#"><img src="assets/images/product_02.jpg" alt=""></a>
                          <div class="down-content">
                            <a href="#"><h4>Tittle goes here</h4></a>
                            <h6>$16.75</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Reviews (24)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 all gra">
                        <div class="product-item">
                          <a href="#"><img src="assets/images/product_03.jpg" alt=""></a>
                          <div class="down-content">
                            <a href="#"><h4>Tittle goes here</h4></a>
                            <h6>$32.50</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Reviews (36)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 all gra">
                        <div class="product-item">
                          <a href="#"><img src="assets/images/product_04.jpg" alt=""></a>
                          <div class="down-content">
                            <a href="#"><h4>Tittle goes here</h4></a>
                            <h6>$24.60</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Reviews (48)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 all dev">
                        <div class="product-item">
                          <a href="#"><img src="assets/images/product_05.jpg" alt=""></a>
                          <div class="down-content">
                            <a href="#"><h4>Tittle goes here</h4></a>
                            <h6>$18.75</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Reviews (60)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 all des">
                        <div class="product-item">
                          <a href="#"><img src="assets/images/product_06.jpg" alt=""></a>
                          <div class="down-content">
                            <a href="#"><h4>Tittle goes here</h4></a>
                            <h6>$12.50</h6>
                            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                            <ul class="stars">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Reviews (72)</span>
                          </div>
                        </div>
                      </div> -->
                  </div>
              </div>
            </div>
            <!-- <div class="col-md-12">
              <ul class="pages">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>

    <!-- <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Fresh Mart</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the fresh products?</h4>
              <p><a >Fresh Mart</a>get you fresh and quality for your daily life and healthy products <a>Contact us</a> for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/slide_apple" alt="">
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    
    <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2021 Fresh Mart Co., Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

