.btn{width:80px;height:20px; border-radius:20px; background-color:red; color: white; font-size: 10px; font-weight: bold; align-items: center;}

.zoom {
    background-color: green;
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }